# Folders
allure-results
config
coverage
test
samples
src
test
.vscode

# Files
package-lock.json
yarn.lock
.compodocrc.json
.editorconfig
.gitignore
.prettierrc
.commitlintrc.json
.cz-config.js
CHANGELOG.md
CONTRIBUTING.md
tsconfig.json
tsconfig.*.json
tslint.json
