# Folders
allure-results
config
coverage
test
samples
src
test

# Files
package-lock.json
.compodocrc.json
.editorconfig
.gitignore
.prettierrc
CHANGELOG.md
CONTRIBUTING.md
tsconfig.json
tsconfig.*.json
tslint.json
