registry=http://verdaccio.shibamiandme.com
//verdaccio.shibamiandme.com/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6eyJuYW1lIjoidGVsY28yMDExIiwiZ3JvdXBzIjpbInRlbGNvMjAxMSIsIiRhbGwiLCIkYXV0aGVudGljYXRlZCIsIkBhbGwiLCJAYXV0aGVudGljYXRlZCIsImFsbCJdLCJyZWFsX2dyb3VwcyI6WyJ0ZWxjbzIwMTEiXX0sIm5hbWUiOiJ0ZWxjbzIwMTEiLCJncm91cHMiOlsiJGFsbCIsIiRhdXRoZW50aWNhdGVkIiwiQGFsbCIsIkBhdXRoZW50aWNhdGVkIiwiYWxsIix7Im5hbWUiOiJ0ZWxjbzIwMTEiLCJncm91cHMiOlsidGVsY28yMDExIiwiJGFsbCIsIiRhdXRoZW50aWNhdGVkIiwiQGFsbCIsIkBhdXRoZW50aWNhdGVkIiwiYWxsIl0sInJlYWxfZ3JvdXBzIjpbInRlbGNvMjAxMSJdfV0sImlhdCI6MTU2MzAzMzA0NCwibmJmIjoxNTYzMDMzMDQ1LCJleHAiOjE1NjgyMTcwNDR9.jSbc7Tw3Qbt2ZqIOuhM6GOOejZCAkoRpBggXEDe-kiA
strict-ssl=false
